.register__father {
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: -1000;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background: url(../../Assets/img/netflix.jpg);
}

.register__form {
  width: 450px;
  display: flex;
  padding: 25px 0 40px;
  margin-left: auto;
  border-radius: 7px;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
}

.form__email {
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input__register {
  width: 320px;
  border: none;
  outline: none;
  background: #333;
  border-radius: 4px;
  padding: 16px 20px 16px;
}

.btn__register {
  border: none;
  cursor: pointer;
  padding: 12px 1em;
  border-radius: 4px;
  background: #e50914;
}

.form__email h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
}

.form__email span {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #e50914 !important;
}
